{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Add a Page{% endblock %}

{% block content %}
<!--<form action="/rango/category/{{ category_name_slug }}/add_page/" method="post" id="page_form">-->
<form role="form" action="{% url 'rango:add_page' category.slug %}" method="post" id="page_form">
    <h1 class="form-signin-heading">Add a Page to <a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></h1>
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }}
    {% endfor %}
    <input type="submit" name="submit" value="Create Page">
</form>
{% endblock %}