{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Categories{% endblock %}

{% block content %}
<h2>Categories</h2>


<div class="row row-centered">
    <div class="col-xs-6 col-centered">
        {% if categories %}

            {% for category in categories %}
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'rango:category' category.slug %}">{{ category.name }}</a></li>
            </ul>
            {% endfor %}
        {% else %}
        <h4>There are no categories! <a style="color: white;" href="{% url 'rango:add_category' %}"><button class="btn btn-info">Add One!</button></a></h4>
        <img src="{% static 'images/why_not_add_category.jpg' %}" alt="Y u no add an image!">
        <hr>
        <p><a style="color: white;" href="{% url 'rango:add_category' %}"><button class="btn btn-default">Add Category</button></a></p>
        {% endif %}
    </div>
</div>


{% endblock %}