<!DOCTYPE html>
{% load static from staticfiles %}
<html>
<head>
    <title>Rango</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Rango says... hola mundo!!!</h1>

    {% if categories %}
    <h3>Top 5 Categories!</h3>
    <ul>
        {% for category in categories %}
        <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
    <p><a href="/rango/add_category/">Add a new Category</a></p>
    {% if pages %}
    <h3>Top 5 Pages!</h3>
    <ul>
        {% for page in pages %}
            <li><a href="{{ page.url }}" target="_blank">{{ page.title }} | {{ page.views }} views </a></li>
        {% endfor %}
    </ul>
    {% endif %}

    <a href="/rango/about/">About</a>
    <a href="/admin/">Admin</a>
</body>
</html>