{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Register for Rango{% endblock %}

{% block content %}
<h1>Register with Rango</h1>
{% if registered %}
Rango says: <strong>Thank you for registering!</strong>
<a href="/rango/">Return to the homepage.</a><br/>
{% else %}
<strong><a href="/rango/">Rango</a> says:</strong> register here! Click <a href="/rango/">here</a> to go to the homepage.

<form action="{% url 'rango:register' %}" id="user_form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!--Display each form. The as_p method wraps each element in a paragraph element. This ensures-->
    <!--that each element appears on a new line-->
    {{ user_form.as_p }}
    {{ profile_form.as_p }}

    <input type="submit" name="submit" value="Register">
</form>
{% endif %}

{% endblock %}