<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango {% block title %}- How to Tango with Django!{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div>
        {% block content %}
            This is the content block's default content!
        {% endblock %}
    </div>
    <hr/>
    <div>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'rango:add_category' %}">Add a new Category</a></li>
                <li><a href="{% url 'rango:restricted' %}">View Restricted Page</a></li>
                <li><a href="{% url 'auth_logout' %}?next=/rango/">Logout</a><br/></li>
            {% else %}
                <li><a href="{% url 'registration_register' %}">Register Here</a></li>
                <li><a href="{% url 'auth_login' %}">Login</a><br/></li>
            {% endif %}
            <li><a href="{% url 'rango:about' %}">About</a></li>
            <li><a href="/admin/">Admin</a></li>
            <li><a href="/rango/">Rango</a></li>
        </ul>
    </div>


</body>
</html>